<ion-header>
  <ion-toolbar color="amarelo">
    <div style="display:flex">
      <button ion-button icon-only clear (click)="close()">
        <ion-icon name="arrow-round-back" color="light"></ion-icon>
      </button>
      <ion-title text-center>
        {{noticia.categoria}}
      </ion-title>
    </div>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-more" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding>
  <ion-card>
    <!-- If have more than one img -->
    <ng-container *ngIf="noticia.imgs.length > 1">
      <ion-slides loop="true" pager zoom="true" paginationType="fraction">
        <ion-slide *ngFor="let img of noticia.imgs">
          <img [src]="img.src" style="width: 100%" imageViewer/>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <!-- If have only one img -->
    <ng-container *ngIf="noticia.imgs.length == 1">
      <img [src]="noticia.imgs[0].src" imageViewer/>
    </ng-container>

    <ion-card-content>
      <ion-card-title text-center>
        {{noticia.title}}
      </ion-card-title>
      <p text-justify class="conteudo">
        {{noticia.texto}}
      </p>
      <p class="creditos">
        <small>
          <b>Fonte:</b> <i>{{noticia.fonte}}</i>
        </small>
        <br>
        <small>
          <b>Postado por:</b> <i>{{noticia.autor}} em {{noticia.data}}</i>
        </small>
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>
