<ion-header>
  <ion-toolbar color="amarelo">
    <ion-buttons start>
      <button ion-button icon-only clear (click)="close()">
        <ion-icon name="arrow-round-back" color="light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{noticia.categoria}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only card-btn-options [noticia]="noticia">
        <ion-icon name="md-more" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding>
  <ion-card>
    <!-- If have more than one img -->
    <ng-container *ngIf="noticia.imgs.length > 1">
      <ion-slides loop="true" pager zoom="true" paginationType="fraction">
        <ion-slide *ngFor="let img of noticia.imgs">
          <img [src]="img.src" style="width: 100%;min-height: 200px;" imageViewer/>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <!-- If have only one img -->
    <ng-container *ngIf="noticia.imgs.length == 1">
      <img [src]="noticia.imgs[0].src" imageViewer style="min-height: 200px;"/>
    </ng-container>

    <ion-card-content select-text>
      <ion-card-title text-center>
        {{noticia.title}}
      </ion-card-title>
      <p text-justify class="conteudo" [innerHTML]="noticia.content"></p>
      <p class="creditos">
        <small>
          <b>Fonte:</b> <i>{{noticia.fonte}}</i>
        </small>
        <br>
        <small>
          <b>Postado por:</b> <i>{{noticia.autor}} em {{noticia.data}}</i>
        </small>
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>
