// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

[menu-button-list] > button {
    padding-left: 0px;
    font-weight: bold;
}

[text-normal] {
    text-transform: none;
}

[categoria] {
    position: absolute;
    padding: 5px;
    z-index: 2;
}
[categoria] > span {
    padding: 5px;
    background-color: #ffce54;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
[card-content-text] {
    color: #585858;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ion-card {  
    border-top: solid #044fa1;
    border-bottom: solid #044fa1;   
}

/*
    Style for slides fraction paginate
*/
.swiper-pagination.swiper-pagination-fraction{
    width: fit-content;
    padding: 10px;
    background-color: #ffce54;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 14rem;
}