// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu > .menu-inner {
    width: 80px;
}

[menu-button-list] {
    button {
        background-color: transparent !important;
        padding-left: 5px;
        ion-avatar {
            margin-left: 10px !important;
            margin-right: 8px !important;
            img {
                width: 50px;
                height: 50px;
                background-color: white;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
}

[text-normal] {
    text-transform: none;
}

[categoria] {
    position: absolute;
    padding: 5px;
    z-index: 2;
}
[categoria] > span {
    padding: 5px;
    background-color: #ffce54;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
[card-content-text] {
    color: #585858;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ion-card {  
    border-top: solid #044fa1;
    border-bottom: solid #044fa1;   
}

/*
* Centralização e alteração da cor do Slide fraction paginate
*/
.swiper-pagination.swiper-pagination-fraction{
    width: fit-content;
    padding: 10px;
    background-color: #ffce54;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 14rem;
}
/*
* Tag de final das postagens
*/
[end-tag-scroll] {
    padding: 8px;
    background-color: #ababab;
    color: white;
    border-radius: 50px;
    font-size: small;
    font-weight: lighter;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}