<ion-header>
  <ion-navbar color="amarelo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bezerros Hoje</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="reload()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div class="animated" style="height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;" *ngIf="carregando || posts.length == 0">
      <div *ngIf="carregando" class="animated" [ngClass]="{'fadeIn' : carregando, 'fadeOut' : !carregando}" style="display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:#ababab">
        <ion-spinner></ion-spinner>
        <b style="padding-top: 5px;">Carregando</b>
      </div>
      <div *ngIf="posts.length == 0 && !carregando" class="animated" [ngClass]="{'fadeIn' : posts.length == 0 && !carregando, 'fadeOut' : !(posts.length == 0 && !carregando)}" style="display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;">
          <ion-icon name="wifi" style="font-size: 8rem" color="cinza"></ion-icon>
          <b style="color:#ababab">Estamos com problema na conexão</b>
          <button ion-button icon-left (click)="reload()" color="amarelo">
            <ion-icon name="refresh"></ion-icon>
            Tentar novamente
          </button>
      </div>
  </div>

  <ng-container *ngIf="!carregando && posts.length > 0">

    <ng-container no-lines *ngFor="let post of posts">
  
      <ion-card class="animated fadeInRight">
        <!-- Post category -->
        <p categoria>
          <ion-badge color="amarelo">{{post.categoria}}</ion-badge>
        </p>
  
        <button ion-button ion-only card-btn-options clear style="
        z-index: 2;
        position: absolute;
        font-size: 1.8rem;
        right: 0px;
        margin-top: 0px;" [noticia]="post">
          <ion-icon name="md-more" icon-right style="color:#BFBFBF"></ion-icon>
        </button>
  
        <!-- Post image -->
        <ng-container *ngIf="post.imgs.length">
          <img [src]="post.imgs[0].src" style="min-height: 10px" imageViewer *ngIf="post.texto.length > 5 || post.imgs.length == 1"/>
          
          <ion-slides loop="true" pager zoom="true" paginationType="fraction" *ngIf="post.imgs.length > 1 && post.texto.length < 5">
            <ion-slide *ngFor="let img of post.imgs">
              <img [src]="img.src" style="width: 100%;" imageViewer/>
            </ion-slide>
          </ion-slides>
  
        </ng-container>
  
        <!-- When post don't have img -->
        <ng-container *ngIf="post.imgs.length == 0 && !post.iframe">
          <div style="height: 10px"></div>
        </ng-container>
  
        <!-- Post content -->
        <ion-card-content select-text *ngIf="!post.iframe">
          <ion-card-title style="font-size: 2.0rem;font-weight: bold;">
            {{post.title}}
          </ion-card-title>
          <p card-content-text *ngIf="!post.mp4">{{post.texto}}</p>
        </ion-card-content>
        <ion-card-content [innerHTML]="post.iframe" *ngIf="post.iframe" style="padding: 0;">
        </ion-card-content>
  
        <!-- If post have Video -->
        <video width="100%" controls *ngIf="post.mp4" style="margin-bottom: -4px;">
          <source [src]="post.mp4" type="video/mp4">
        </video>
  
        <!-- Post button action -->
        <button ion-item color="azul" *ngIf="post.texto.length > 5 && !post.mp4 && !post.iframe" (click)="openModal(post)">
          Veja mais
          <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
        </button>
      </ion-card>
    </ng-container>
  
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="this.posts.length < this._posts.length">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
    <p *ngIf="this.posts.length == this._posts.length && this.posts.length != 0" text-center>
      <ion-badge color="cinza">Fim</ion-badge>
    </p>
  </ng-container>
</ion-content>
